
<!-- asdfasdfasdf-->
  <div class="row formsection">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p id="user"><%= @user.id%></p> 
        <div class="form-group">
          <label for="workout_title">Name Workout:</label>
          <input type="email" class="form-control" id="workout_title" placeholder="Power Squat Day" required >
        </div>


      <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th> Workouts: </th>
            </tr>
          </thead>

          <tbody id="tableToMod">
              <tr id="rowToClone">
                <td class="exercise" > <%= collection_select(:WRK, :WRK, @workouts, :id, :title, {:prompt => true}, class: 'form-control') %></td>
              </tr>
          </tbody>
        </table>
        <button id="add_row" type="button" onclick="cloneRowMethod()" class="btn btn-warning btn-block">Another Row</button>
        <button id="submitWeek" type="button" class="btn btn-primary btn-block"  >Create SetRep</button>
          <hr>
      </div>
  </div>
<!-- -->

<script type="text/javascript">
  function cloneRowMethod(){
    var table = document.getElementById('tableToMod')
    var row = document.getElementById('rowToClone')
      var cloneRow = row.cloneNode(true)
    cloneRow.id = "newID"
    table.appendChild(cloneRow);
  }
</script>